<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/stylesheets/styleDashboard.css"/>
  <a class="b2" href="/flight" role="link"><div class="textb2">טיסות ממתינות להמראה </div></bar><div class="numFlight"><%= numFlight %></div></a>
   
  <a class="b1" href="/landing" role="link"><div class="textb1">טיסות ממתינות לנחיתה </div></bar><div class="numLanding"><%= numLanding %></div></a>
</head>
<body>

</body>