head{
	padding:10px;
}
.b1{
	border: 2px solid black; 
	position: absolute;
	margin-left:250px;
    margin-top:20px;
	width:200px;
	height:50px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:0px 2px;
	padding-left: 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	
}
.b1:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;

}
.numLanding{
	padding-left: 90px;
	width: 70;
	padding-top: 3px;
	font-size:21px;
	color:#293251;
	font-family:Arial;
	font-weight:bold;
}
.textb2{
	padding-left: 15px;
	width: 40;
	position: center;
	padding-top: 3px;
	font-weight:bold;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
}
.textb1{
	padding-left: 15px;
	font-size:17px;
	color:#ffffff;
	font-family:Arial;
	padding-top: 3px;
	font-weight:bold;
}


.numFlight{
	padding-left: 90px;
	width: 40;
	padding-top: 3px;
	font-size:21px;
	color:#293251;
	font-family:Arial;
	font-weight:bold;
}

/* .b2{
	border: 2px solid black; 
	position: absolute;
	left:450px;
	margin-left:50px;
	margin-right:50px;
    margin-top:20px;
	width:200px;
	height:50px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:0px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	
}
.b2:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
} */
.modal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
}
.modal-header{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}
.modal-header .title{
	font-size: 1.25rem;
	font-weight: bold;
} 
.modal-header .close-button{
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}
.modal-body{
	padding: 10px 15px;
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}

#b3{
	border: 2px solid black; 
	position: absolute;
    left:750px;
    margin-top:20px;
	width:200px;
	height:50px; 
	box-shadow: 0px 10px 14px -7px #d16721;
	background:linear-gradient(to bottom, #dc7230 5%, #e3a76f 100%);
	background-color: hsl(16, 78%, 51%);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	
}
.b3:hover {
	background:linear-gradient(to bottom, #c56a15 5%, #c65c1a 100%);
	background-color:#e05d17;
}
.b3:active {
	position:relative;
	top:1px;
}



#myMap{
	border:3px solid black;
	width:70%;
	height:350px;
	margin-top:100px;
	margin-left:150px;
	border-radius: 5px;
	position:center;
	position: absolute;

	
}
#bremove{
	float:left;
	margin-top: 460px;
	/* margin-left: 220px; */
	width:100px;
	height:20px;
}
#badd{
	float:left;
	margin-top: 460px;
	margin-left: 180px;
	width:100px;
	height:20px;
	
}
.clockDesign{

	background-color: rgb(6, 0, 0);

	font-size: 20px;
	color: #fbf9f7;
	border-radius: 3px;

	border: 2px inset #5383ca;

	height: 30px;

	width: 250px;

	text-align: center;

	font-family: Impact, Arial, sans-serif;
    margin-top: 457px;
	letter-spacing: 2px;
	/* margin-top: 450px; */
	margin-right: 530px;
	float:right;

	}